*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration:none; color:inherit; cursor:pointer; display:inline-block;}
button{background-color:transparent; color:inherit; border-width:0; cursor:pointer;}
input::-moz-focus-inner {border:0;}
input {box-sizing: border-box;}
input, textarea {outline: none;}




.app{
    margin: 0 7%;
    padding-top: 50px;
}